In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
HOME_DIR = os.path.expanduser('~/')
sys.path.append(f"{HOME_DIR}/Documents/Algo/Stock Price DB/")
from StockPriceData import process_ticker
#script_path = os.path.dirname(__file__)
script_path = '/home/lantro/Documents/Algo/Strategies/Using Pandas/Momentum/Multiple Timeframes'
cached_data = script_path+'/'+'cached_data'
stats_data = script_path+'/'+'stats'
file = 'M_ETF_stats_2023.02.21.192249_183.49.csv'

In [3]:

df = pd.read_csv(f'{stats_data}/{file}', index_col=None, header=0) # read each csv file into a separate dataframe
print(f'Adding {df.shape[0]} rows from {file}')

Adding 338 rows from M_ETF_stats_2023.02.21.192249_183.49.csv

In [4]:
df.head()

,top_n,SMA_S,SMA_L,stop,rolling_l,rolling_m,rolling_s,tot_ret,cagr,sharpe,perf_score,max_dd
0,"(3, 2, 1)",9,122,17,13,6,1,4.00,0.13,5.76,23.04,-0.16
1,"(3, 2, 1)",9,122,18,13,6,1,4.00,0.13,5.76,23.04,-0.16
2,"(3, 2, 1)",9,122,16,13,6,1,4.00,0.13,5.76,23.04,-0.16
3,"(3, 2, 1)",9,123,17,13,6,1,3.99,0.13,5.75,22.94,-0.16
4,"(3, 2, 1)",9,122,17,14,6,1,3.96,0.13,5.75,22.77,-0.16

In [5]:
#df.loc[df['SMA_S']==9]
df = df.drop_duplicates(keep='first')
df.sort_values(by='perf_score', ascending=False,inplace=True) # Sort by specified parameter
df.reset_index(drop=True,inplace=True) # Reset index after sort
print(f'concatenated_df rows: {df.shape[0]}')

concatenated_df rows: 338

In [6]:
df.head(10)

,top_n,SMA_S,SMA_L,stop,rolling_l,rolling_m,rolling_s,tot_ret,cagr,sharpe,perf_score,max_dd
0,"(3, 2, 1)",9,122,17,13,6,1,4.00,0.13,5.76,23.04,-0.16
1,"(3, 2, 1)",9,122,16,13,6,1,4.00,0.13,5.76,23.04,-0.16
2,"(3, 2, 1)",9,122,18,13,6,1,4.00,0.13,5.76,23.04,-0.16
3,"(3, 2, 1)",9,123,17,13,6,1,3.99,0.13,5.75,22.94,-0.16
4,"(3, 2, 1)",9,122,17,14,6,1,3.96,0.13,5.75,22.77,-0.16
5,"(3, 2, 1)",10,139,15,13,6,1,3.97,0.13,5.70,22.63,-0.16
6,"(3, 2, 1)",11,139,17,13,6,1,3.97,0.13,5.70,22.63,-0.16
7,"(3, 2, 1)",10,139,20,13,6,1,3.97,0.13,5.70,22.63,-0.16
8,"(3, 2, 1)",10,145,17,13,6,1,3.97,0.13,5.70,22.63,-0.16
9,"(3, 2, 1)",10,139,16,13,6,1,3.97,0.13,5.70,22.63,-0.16

In [10]:
all_stats_df = pd.DataFrame()
all_stats_df = pd.concat([all_stats_df, df]).drop_duplicates(keep='first')

In [11]:
all_stats_df.head(5)

,top_n,SMA_S,SMA_L,stop,rolling_l,rolling_m,rolling_s,tot_ret,cagr,sharpe,perf_score,max_dd
0,"(3, 2, 1)",9,122,17,13,6,1,4.00,0.13,5.76,23.04,-0.16
1,"(3, 2, 1)",9,122,16,13,6,1,4.00,0.13,5.76,23.04,-0.16
2,"(3, 2, 1)",9,122,18,13,6,1,4.00,0.13,5.76,23.04,-0.16
3,"(3, 2, 1)",9,123,17,13,6,1,3.99,0.13,5.75,22.94,-0.16
4,"(3, 2, 1)",9,122,17,14,6,1,3.96,0.13,5.75,22.77,-0.16

In [12]:
df.head(5)

,top_n,SMA_S,SMA_L,stop,rolling_l,rolling_m,rolling_s,tot_ret,cagr,sharpe,perf_score,max_dd
0,"(3, 2, 1)",9,122,17,13,6,1,4.00,0.13,5.76,23.04,-0.16
1,"(3, 2, 1)",9,122,16,13,6,1,4.00,0.13,5.76,23.04,-0.16
2,"(3, 2, 1)",9,122,18,13,6,1,4.00,0.13,5.76,23.04,-0.16
3,"(3, 2, 1)",9,123,17,13,6,1,3.99,0.13,5.75,22.94,-0.16
4,"(3, 2, 1)",9,122,17,14,6,1,3.96,0.13,5.75,22.77,-0.16

In [34]:
param = 'SMA_S'
performance_measure = 'perf_score'
for val in df[param].unique():
    df_filtered = df.loc[df[param]==val].sort_values(by=performance_measure, ascending=False)
    top_perf = df_filtered.iloc[0]
    print(f'Top perf for {param}: {val}:\n{top_perf}')
    print(f'df_filtered:\n{df_filtered}')

Top perf for SMA_S: 9:
top_n         (3, 2, 1)
SMA_S                 9
SMA_L               122
stop                 17
rolling_l            13
rolling_m             6
rolling_s             1
tot_ret             4.0
cagr               0.13
sharpe             5.76
perf_score        23.04
max_dd            -0.16
Name: 0, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
0    (3, 2, 1)      9    122    17         13          6          1     4.00
2    (3, 2, 1)      9    122    18         13          6          1     4.00
1    (3, 2, 1)      9    122    16         13          6          1     4.00
3    (3, 2, 1)      9    123    17         13          6          1     3.99
4    (3, 2, 1)      9    122    17         14          6          1     3.96
15   (3, 2, 1)      9    139    15         13          6          1     3.97
23   (3, 2, 1)      9    139    19         13          6          1     3.97
19   (3, 2, 1)      9    146    17         13          6          1     3.97
17   (3, 2, 1)      9    144    17         13          6          1     3.97
18   (3, 2, 1)      9    140    17         13          6          1     3.97
14   (3, 2, 1)      9    139    16         13          6          1     3.97
13   (3, 2, 1)      9    139    17         13          6          1     3.97
12   (3, 2, 1)      9    142    17         13          6          1     3.97
10   (3, 2, 1)      9    139    18         13          6          1     3.97
24   (3, 2, 1)      9    139    17         14          6          1     3.93
32   (3, 2, 1)      9    138    17         13          6          1     3.90
39   (3, 2, 1)      9    137    17         13          6          1     3.90
40   (3, 2, 1)      9    136    17         13          6          1     3.90
45   (3, 2, 1)      9    128    17         13          6          1     3.87
50   (3, 2, 1)      9    124    17         13          6          1     3.87
48   (3, 2, 1)      9    130    17         13          6          1     3.87
46   (3, 2, 1)      9    129    17         13          6          1     3.87
47   (3, 2, 1)      9    131    17         13          6          1     3.87
44   (3, 2, 1)      9    127    17         13          6          1     3.87
42   (3, 2, 1)      9    132    17         13          6          1     3.87
41   (3, 2, 1)      9    125    17         13          6          1     3.87
43   (3, 2, 1)      9    126    17         13          6          1     3.87
56   (3, 2, 1)      9    148    17         13          6          1     3.85
61   (3, 2, 1)      9    134    17         13          6          1     3.79
62   (3, 2, 1)      9    113    17         13          6          1     3.76
63   (3, 2, 1)      9    112    17         13          6          1     3.76
68   (3, 2, 1)      9    120    17         13          6          1     3.74
72   (3, 2, 1)      9    114    17         13          6          1     3.74
71   (3, 2, 1)      9    116    17         13          6          1     3.74
69   (3, 2, 1)      9    115    17         13          6          1     3.74
67   (3, 2, 1)      9    119    17         13          6          1     3.74
66   (3, 2, 1)      9    118    17         13          6          1     3.74
65   (3, 2, 1)      9    117    17         13          6          1     3.74
64   (3, 2, 1)      9    121    17         13          6          1     3.74
80   (3, 2, 1)      9    156    17         13          6          1     3.75
81   (3, 2, 1)      9    154    17         13          6          1     3.75
83   (3, 2, 1)      9    152    17         13          6          1     3.75
85   (3, 2, 1)      9    150    17         13          6          1     3.75
94   (3, 2, 1)      9    122    17         12          6          1     3.59
95   (3, 2, 1)      9    139    17         12          6          1     3.56
107  (3, 2, 1)      9    137    17         12          6          1     3.50
160  (3, 2, 1)      9    200    17         12          6          1     3.10
205  (3, 2, 1)      9    200    10         12          6          1     2.48
254  (3, 2, 1)      9    200     5         12          6          1     1.83

     cagr  sharpe  perf_score  max_dd
0    0.13    5.76       23.04   -0.16
2    0.13    5.76       23.04   -0.16
1    0.13    5.76       23.04   -0.16
3    0.13    5.75       22.94   -0.16
4    0.13    5.75       22.77   -0.16
15   0.13    5.70       22.63   -0.16
23   0.13    5.70       22.63   -0.16
19   0.13    5.70       22.63   -0.16
17   0.13    5.70       22.63   -0.16
18   0.13    5.70       22.63   -0.16
14   0.13    5.70       22.63   -0.16
13   0.13    5.70       22.63   -0.16
12   0.13    5.70       22.63   -0.16
10   0.13    5.70       22.63   -0.16
24   0.13    5.70       22.40   -0.16
32   0.13    5.65       22.04   -0.16
39   0.13    5.65       22.04   -0.16
40   0.13    5.65       22.04   -0.16
45   0.13    5.64       21.83   -0.16
50   0.13    5.64       21.83   -0.16
48   0.13    5.64       21.83   -0.16
46   0.13    5.64       21.83   -0.16
47   0.13    5.64       21.83   -0.16
44   0.13    5.64       21.83   -0.16
42   0.13    5.64       21.83   -0.16
41   0.13    5.64       21.83   -0.16
43   0.13    5.64       21.83   -0.16
56   0.13    5.60       21.56   -0.16
61   0.13    5.58       21.15   -0.16
62   0.13    5.62       21.13   -0.16
63   0.13    5.62       21.13   -0.16
68   0.13    5.60       20.94   -0.16
72   0.13    5.60       20.94   -0.16
71   0.13    5.60       20.94   -0.16
69   0.13    5.60       20.94   -0.16
67   0.13    5.60       20.94   -0.16
66   0.13    5.60       20.94   -0.16
65   0.13    5.60       20.94   -0.16
64   0.13    5.60       20.94   -0.16
80   0.13    5.53       20.74   -0.16
81   0.13    5.53       20.74   -0.16
83   0.13    5.53       20.74   -0.16
85   0.13    5.53       20.74   -0.16
94   0.13    5.51       19.78   -0.16
95   0.13    5.46       19.44   -0.16
107  0.12    5.41       18.94   -0.16
160  0.12    5.07       15.72   -0.16
205  0.10    4.35       10.79   -0.20
254  0.08    3.56        6.51   -0.19
Top perf for SMA_S: 10:
top_n         (3, 2, 1)
SMA_S                10
SMA_L               139
stop                 15
rolling_l            13
rolling_m             6
rolling_s             1
tot_ret            3.97
cagr               0.13
sharpe              5.7
perf_score        22.63
max_dd            -0.16
Name: 5, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
5    (3, 2, 1)     10    139    15         13          6          1     3.97
8    (3, 2, 1)     10    145    17         13          6          1     3.97
9    (3, 2, 1)     10    139    16         13          6          1     3.97
11   (3, 2, 1)     10    142    17         13          6          1     3.97
16   (3, 2, 1)     10    143    17         13          6          1     3.97
..         ...    ...    ...   ...        ...        ...        ...      ...
333  (3, 2, 1)     10    200     5         22          6          3     1.04
334  (3, 2, 1)     10    200     3         12          6          3     0.99
335  (3, 2, 1)     10    200     5         12         13          3     1.00
336  (3, 2, 1)     10    200     5         10          6          3     0.96
337  (3, 2, 1)     10    200     5         28          6          3     0.90

     cagr  sharpe  perf_score  max_dd
5    0.13    5.70       22.63   -0.16
8    0.13    5.70       22.63   -0.16
9    0.13    5.70       22.63   -0.16
11   0.13    5.70       22.63   -0.16
16   0.13    5.70       22.63   -0.16
..    ...     ...         ...     ...
333  0.06    2.42        2.52   -0.23
334  0.06    2.47        2.45   -0.27
335  0.06    2.42        2.42   -0.24
336  0.05    2.38        2.28   -0.23
337  0.05    2.25        2.02   -0.23

[247 rows x 12 columns]
Top perf for SMA_S: 11:
top_n         (3, 2, 1)
SMA_S                11
SMA_L               139
stop                 17
rolling_l            13
rolling_m             6
rolling_s             1
tot_ret            3.97
cagr               0.13
sharpe              5.7
perf_score        22.63
max_dd            -0.16
Name: 6, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
6    (3, 2, 1)     11    139    17         13          6          1     3.97
60   (3, 2, 1)     11    137    17         13          6          1     3.79
120  (3, 2, 1)     11    137    17         12          6          1     3.40
159  (3, 2, 1)     11    200    17         12          6          1     3.10
204  (3, 2, 1)     11    200    10         12          6          1     2.48
257  (3, 2, 1)     11    200     5         12          6          1     1.83

     cagr  sharpe  perf_score  max_dd
6    0.13    5.70       22.63   -0.16
60   0.13    5.58       21.15   -0.16
120  0.12    5.33       18.12   -0.16
159  0.12    5.07       15.72   -0.16
204  0.10    4.35       10.79   -0.20
257  0.08    3.56        6.51   -0.19
Top perf for SMA_S: 8:
top_n         (3, 2, 1)
SMA_S                 8
SMA_L               137
stop                 17
rolling_l            13
rolling_m             6
rolling_s             1
tot_ret             3.9
cagr               0.13
sharpe             5.65
perf_score        22.04
max_dd            -0.16
Name: 28, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
28   (3, 2, 1)      8    137    17         13          6          1      3.9
38   (3, 2, 1)      8    139    17         13          6          1      3.9
103  (3, 2, 1)      8    137    17         12          6          1      3.5
156  (3, 2, 1)      8    200    17         12          6          1      3.1

     cagr  sharpe  perf_score  max_dd
28   0.13    5.65       22.04   -0.16
38   0.13    5.65       22.04   -0.16
103  0.12    5.41       18.94   -0.16
156  0.12    5.07       15.72   -0.16
Top perf for SMA_S: 12:
top_n         (3, 2, 1)
SMA_S                12
SMA_L               137
stop                 17
rolling_l            13
rolling_m             6
rolling_s             1
tot_ret            3.85
cagr               0.13
sharpe             5.63
perf_score        21.68
max_dd            -0.16
Name: 54, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
54   (3, 2, 1)     12    137    17         13          6          1     3.85
115  (3, 2, 1)     12    137    17         12          6          1     3.45
162  (3, 2, 1)     12    200    17         12          6          1     3.09

     cagr  sharpe  perf_score  max_dd
54   0.13    5.63       21.68   -0.16
115  0.12    5.38       18.56   -0.16
162  0.12    5.06       15.64   -0.16
Top perf for SMA_S: 7:
top_n         (3, 2, 1)
SMA_S                 7
SMA_L               137
stop                 17
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            3.54
cagr               0.12
sharpe             5.44
perf_score        19.26
max_dd            -0.16
Name: 99, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
99   (3, 2, 1)      7    137    17         12          6          1     3.54
157  (3, 2, 1)      7    200    17         12          6          1     3.10
203  (3, 2, 1)      7    200    10         12          6          1     2.48
255  (3, 2, 1)      7    200     5         12          6          1     1.83
319  (3, 2, 1)      7    200     5         12          6          3     1.27

     cagr  sharpe  perf_score  max_dd
99   0.12    5.44       19.26   -0.16
157  0.12    5.07       15.72   -0.16
203  0.10    4.35       10.79   -0.20
255  0.08    3.56        6.51   -0.19
319  0.07    2.76        3.51   -0.23
Top perf for SMA_S: 13:
top_n         (3, 2, 1)
SMA_S                13
SMA_L               137
stop                 17
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            3.43
cagr               0.12
sharpe             5.37
perf_score        18.42
max_dd            -0.17
Name: 117, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
117  (3, 2, 1)     13    137    17         12          6          1     3.43
164  (3, 2, 1)     13    200    17         12          6          1     3.09
208  (3, 2, 1)     13    200    10         12          6          1     2.47
242  (3, 2, 1)     13    200     5         12          6          1     1.96
303  (3, 2, 1)     13    200     5         12          6          3     1.38

     cagr  sharpe  perf_score  max_dd
117  0.12    5.37       18.42   -0.17
164  0.12    5.06       15.64   -0.16
208  0.10    4.33       10.70   -0.20
242  0.09    3.73        7.31   -0.17
303  0.07    2.92        4.03   -0.20
Top perf for SMA_S: 6:
top_n         (3, 2, 1)
SMA_S                 6
SMA_L               200
stop                 17
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            3.14
cagr               0.12
sharpe             5.11
perf_score        16.05
max_dd            -0.16
Name: 146, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
146  (3, 2, 1)      6    200    17         12          6          1     3.14

     cagr  sharpe  perf_score  max_dd
146  0.12    5.11       16.05   -0.16
Top perf for SMA_S: 15:
top_n         (3, 2, 1)
SMA_S                15
SMA_L               200
stop                 17
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            3.09
cagr               0.12
sharpe             5.06
perf_score        15.64
max_dd            -0.16
Name: 161, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
161  (3, 2, 1)     15    200    17         12          6          1     3.09
209  (3, 2, 1)     15    200    10         12          6          1     2.47
241  (3, 2, 1)     15    200     5         12          6          1     1.96

     cagr  sharpe  perf_score  max_dd
161  0.12    5.06       15.64   -0.16
209  0.10    4.33       10.70   -0.20
241  0.09    3.73        7.31   -0.17
Top perf for SMA_S: 14:
top_n         (3, 2, 1)
SMA_S                14
SMA_L               200
stop                 17
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            3.09
cagr               0.12
sharpe             5.06
perf_score        15.64
max_dd            -0.16
Name: 163, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
163  (3, 2, 1)     14    200    17         12          6          1     3.09

     cagr  sharpe  perf_score  max_dd
163  0.12    5.06       15.64   -0.16
Top perf for SMA_S: 5:
top_n         (3, 2, 1)
SMA_S                 5
SMA_L               200
stop                 17
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            3.07
cagr               0.12
sharpe             5.04
perf_score        15.47
max_dd            -0.17
Name: 165, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
165  (3, 2, 1)      5    200    17         12          6          1     3.07
210  (3, 2, 1)      5    200    10         12          6          1     2.45
258  (3, 2, 1)      5    200     5         12          6          1     1.80

     cagr  sharpe  perf_score  max_dd
165  0.12    5.04       15.47   -0.17
210  0.10    4.32       10.58   -0.21
258  0.08    3.53        6.35   -0.21
Top perf for SMA_S: 17:
top_n         (3, 2, 1)
SMA_S                17
SMA_L               200
stop                 10
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            2.53
cagr                0.1
sharpe             4.39
perf_score        11.11
max_dd             -0.2
Name: 199, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
199  (3, 2, 1)     17    200    10         12          6          1     2.53
238  (3, 2, 1)     17    200     5         12          6          1     2.01

     cagr  sharpe  perf_score  max_dd
199  0.10    4.39       11.11   -0.20
238  0.09    3.79        7.62   -0.17
Top perf for SMA_S: 3:
top_n         (3, 2, 1)
SMA_S                 3
SMA_L               200
stop                 10
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            2.25
cagr                0.1
sharpe             4.14
perf_score         9.32
max_dd            -0.21
Name: 220, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
220  (3, 2, 1)      3    200    10         12          6          1     2.25
264  (3, 2, 1)      3    200     5         12          6          1     1.64

     cagr  sharpe  perf_score  max_dd
220  0.10    4.14        9.32   -0.21
264  0.08    3.36        5.51   -0.21
Top perf for SMA_S: 19:
top_n         (3, 2, 1)
SMA_S                19
SMA_L               200
stop                  5
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            2.06
cagr               0.09
sharpe             3.84
perf_score         7.91
max_dd            -0.17
Name: 233, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
233  (3, 2, 1)     19    200     5         12          6          1     2.06
306  (3, 2, 1)     19    200     5         12          6          3     1.36

     cagr  sharpe  perf_score  max_dd
233  0.09    3.84        7.91   -0.17
306  0.07    2.91        3.96   -0.18
Top perf for SMA_S: 1:
top_n         (3, 2, 1)
SMA_S                 1
SMA_L               200
stop                  5
rolling_l            12
rolling_m             6
rolling_s             1
tot_ret            1.84
cagr               0.08
sharpe             3.58
perf_score         6.59
max_dd            -0.19
Name: 250, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
250  (3, 2, 1)      1    200     5         12          6          1     1.84
314  (3, 2, 1)      1    200     5         12          6          3     1.32

     cagr  sharpe  perf_score  max_dd
250  0.08    3.58        6.59   -0.19
314  0.07    2.82        3.72   -0.24
Top perf for SMA_S: 22:
top_n         (3, 2, 1)
SMA_S                22
SMA_L               200
stop                  5
rolling_l            12
rolling_m             6
rolling_s             3
tot_ret            1.36
cagr               0.07
sharpe             2.91
perf_score         3.96
max_dd            -0.18
Name: 307, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
307  (3, 2, 1)     22    200     5         12          6          3     1.36

     cagr  sharpe  perf_score  max_dd
307  0.07    2.91        3.96   -0.18
Top perf for SMA_S: 16:
top_n         (3, 2, 1)
SMA_S                16
SMA_L               200
stop                  5
rolling_l            12
rolling_m             6
rolling_s             3
tot_ret            1.27
cagr               0.07
sharpe              2.8
perf_score         3.56
max_dd            -0.19
Name: 316, dtype: object
df_filtered:
         top_n  SMA_S  SMA_L  stop  rolling_l  rolling_m  rolling_s  tot_ret  \
316  (3, 2, 1)     16    200     5         12          6          3     1.27

     cagr  sharpe  perf_score  max_dd
316  0.07     2.8        3.56   -0.19
Top perf for SMA_S: 4:
top_n         (3, 2, 1)
SMA_S                 4
SMA_L               200
stop                  5
rolling_l            12
rolling_m             6
rolling_s             3
tot_ret            1.24
cagr               0.06
sharpe             2.73
perf_score         3.39
max_dd            -0.25
Name: 321, dtype: object
df_filtered:

In [27]:
(df['top_n'].unique()[0])

'(3, 2, 1)'