# Example script for downloading economic data from the Federal Reserve Bank of St. Louis (FRED)
### https://fred.stlouisfed.org/

In [1]:
my_key='78fb40c13f877fa190d3737ae107cb32'
from fred import Fred
import time
import random
fr = Fred(api_key=my_key,response_type='df')

In [13]:
#series = ['GDP', 'GDPC1', 'GDPA', 'FEDFUNDS', 'TB3MS', 'BOGMBASE', 'UMCSENT', 'VIXCLS', 'CPIAUCSL', 'WILLREITIND']
series_dict = {'GDP':'Gross Domestic Product', 'GDPC1':' Real Gross Domestic Product', 'GDPA':'GDP Annual, Not Seasonally Adjusted', 'FEDFUNDS':'Effective Federal Funds Rate',
              'TB3MS':' 3-Month Treasury Bill: Secondary Market Rate %', 'BOGMBASE':' Monetary Base; Total', 'UMCSENT':'Univ of Mich consumer sentiment', 'VIXCLS':'CBOE Volatility Index',
              'CPIAUCSL':'Consumer Price Index: All Items in U.S. City Average, All Urban Consumers', 'WILLREITIND':'Wilshire US REIT'}
series_name = series[2]
series_id = 106

## Collect data for each series defined in our 'series' list

In [5]:
params = {
         #'limit':10, Can limit number of elements returned for testing
         'output_type':1 #Not sure what this means
         }
series = list(series_dict.keys()) #Convert keys to list so we can slice if needed
for ser in series[:]:
    print('\nGetting data for %s' % ser)
    data = fr.series.observations(ser,params=params)
    print("Retrieved %s records for %s" % (data.shape[0],ser))
    print('Saving data for %s to %s.' % (ser, './data/'+ser+'.csv'))
    data.to_csv('./data/'+ser+'.csv', index=False)
    sleeptime = random.randint(5, 30)
    print("Sleeping for %s" % sleeptime); time.sleep(sleeptime)

Getting data for WILLREITIND
Retrieved 10880 records for WILLREITIND
Saving data for WILLREITIND to ./data/WILLREITIND.csv.
Sleeping for 9

## Series
Economic data series are quantitative measures used to describe various components of the economy. Series consist of data measured over a time interval.

In [ ]:
params = {
         'limit':5,
         #'tag_names':'trade;goods',
         'order_by':'popularity',
         'sort_order':'desc'
         }

res = fr.category.series(series_id,params=params)
res

### To request series details, provide a series ID to the details method of the series client:

In [23]:
gdp_series_details = fr.series.details(series_name) #Access series details based on category numeric id. It seems like series can only be accessed using alphabetic id
gdp_series_details

,frequency,frequency_short,id,last_updated,notes,observation_end,observation_start,popularity,realtime_end,realtime_start,seasonal_adjustment,seasonal_adjustment_short,title,units,units_short
0,Annual,A,GDPA,2019-07-26 12:55:03,BEA Account Code: A191RC\n\n,2018-01-01,1929-01-01,70,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Gross Domestic Product,Billions of Dollars,Bil. of $

### Get the categories for an economic data series:

In [34]:
gdp_series_cat = fr.series.categories(series_name)
gdp_series_cat

    id     name  parent_id
0  106  GDP/GNP         18

### Release

Get the release for an economic data series:

In [35]:
gdp_series_release = fr.series.release(series_name)
gdp_series_release

,id,link,name,press_release,realtime_end,realtime_start
0,53,https://www.bea.gov/data/gdp/gross-domestic-pr...,Gross Domestic Product,True,2019-09-14,2019-09-14

### Observations - This is where we collect the data!

Get the observations or data values for an economic data series. The response includes the date, real-time period, and value of the observation:

In [3]:
params = {
         #'limit':10,
         'output_type':1
         }

gdp_data = fr.series.observations(series_name,params=params)
gdp_data

/home/lantro/miniconda3/envs/algo/lib/python3.6/site-packages/fred/helpers/__init__.py:36: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  frame = frame.convert_objects(convert_numeric=True)

          date realtime_end realtime_start      value
0   1946-01-01   2019-09-14     2019-09-14        NaN
1   1946-04-01   2019-09-14     2019-09-14        NaN
2   1946-07-01   2019-09-14     2019-09-14        NaN
3   1946-10-01   2019-09-14     2019-09-14        NaN
4   1947-01-01   2019-09-14     2019-09-14    243.164
5   1947-04-01   2019-09-14     2019-09-14    245.968
6   1947-07-01   2019-09-14     2019-09-14    249.585
7   1947-10-01   2019-09-14     2019-09-14    259.745
8   1948-01-01   2019-09-14     2019-09-14    265.742
9   1948-04-01   2019-09-14     2019-09-14    272.567
10  1948-07-01   2019-09-14     2019-09-14    279.196
11  1948-10-01   2019-09-14     2019-09-14    280.366
12  1949-01-01   2019-09-14     2019-09-14    275.034
13  1949-04-01   2019-09-14     2019-09-14    271.351
14  1949-07-01   2019-09-14     2019-09-14    272.889
15  1949-10-01   2019-09-14     2019-09-14    270.627
16  1950-01-01   2019-09-14     2019-09-14    280.828
17  1950-04-01   2019-09-14     2019-09-14    290.383
18  1950-07-01   2019-09-14     2019-09-14    308.153
19  1950-10-01   2019-09-14     2019-09-14    319.945
20  1951-01-01   2019-09-14     2019-09-14    336.000
21  1951-04-01   2019-09-14     2019-09-14    344.090
22  1951-07-01   2019-09-14     2019-09-14    351.385
23  1951-10-01   2019-09-14     2019-09-14    356.178
24  1952-01-01   2019-09-14     2019-09-14    359.820
25  1952-04-01   2019-09-14     2019-09-14    361.030
26  1952-07-01   2019-09-14     2019-09-14    367.701
27  1952-10-01   2019-09-14     2019-09-14    380.812
28  1953-01-01   2019-09-14     2019-09-14    387.980
29  1953-04-01   2019-09-14     2019-09-14    391.749
..         ...          ...            ...        ...
264 2012-01-01   2019-09-14     2019-09-14  16019.758
265 2012-04-01   2019-09-14     2019-09-14  16152.257
266 2012-07-01   2019-09-14     2019-09-14  16257.151
267 2012-10-01   2019-09-14     2019-09-14  16358.863
268 2013-01-01   2019-09-14     2019-09-14  16569.591
269 2013-04-01   2019-09-14     2019-09-14  16637.926
270 2013-07-01   2019-09-14     2019-09-14  16848.748
271 2013-10-01   2019-09-14     2019-09-14  17083.137
272 2014-01-01   2019-09-14     2019-09-14  17104.555
273 2014-04-01   2019-09-14     2019-09-14  17432.909
274 2014-07-01   2019-09-14     2019-09-14  17721.657
275 2014-10-01   2019-09-14     2019-09-14  17849.912
276 2015-01-01   2019-09-14     2019-09-14  17984.178
277 2015-04-01   2019-09-14     2019-09-14  18219.405
278 2015-07-01   2019-09-14     2019-09-14  18344.713
279 2015-10-01   2019-09-14     2019-09-14  18350.825
280 2016-01-01   2019-09-14     2019-09-14  18424.283
281 2016-04-01   2019-09-14     2019-09-14  18637.253
282 2016-07-01   2019-09-14     2019-09-14  18806.743
283 2016-10-01   2019-09-14     2019-09-14  18991.883
284 2017-01-01   2019-09-14     2019-09-14  19190.431
285 2017-04-01   2019-09-14     2019-09-14  19356.649
286 2017-07-01   2019-09-14     2019-09-14  19611.704
287 2017-10-01   2019-09-14     2019-09-14  19918.910
288 2018-01-01   2019-09-14     2019-09-14  20163.159
289 2018-04-01   2019-09-14     2019-09-14  20510.177
290 2018-07-01   2019-09-14     2019-09-14  20749.752
291 2018-10-01   2019-09-14     2019-09-14  20897.804
292 2019-01-01   2019-09-14     2019-09-14  21098.827
293 2019-04-01   2019-09-14     2019-09-14  21339.121

[294 rows x 4 columns]

In [5]:
gdp_data.to_csv('./data/'+series_name+'.csv', index=False)

NameError: name 'gdp_data' is not defined

### Tags

Get the tags for an economic data series. The response includes the tag group_id, name, and series_count associated with a given series search:

In [37]:
gdp_series_tags = fr.series.tags(series_name)
gdp_series_tags

,created,group_id,name,notes,popularity,series_count
0,2018-12-18 05:33:13,cc,public domain: citation requested,None,100,471183
1,2012-02-27 16:18:19,geo,usa,United States of America,99,429615
2,2012-02-27 16:18:19,geot,nation,,100,215669
3,2012-02-27 16:18:19,freq,quarterly,,85,100921
4,2012-02-27 16:18:19,seas,sa,Seasonally Adjusted,87,76280
5,2012-02-27 16:18:19,src,bea,Bureau of Economic Analysis,79,53452
6,2012-02-27 16:18:19,gen,gdp,Gross Domestic Product,83,49299
7,2012-08-16 20:21:17,rls,nipa,National Income and Product Accounts,72,12822

### Updates

Get economic data series sorted by when observations were updated on the FRED server. The response includes the tag group_id, name, and series_count associated with a given series search.

In [6]:
params = {
         'limit':10,
         }

gdp_series_updates = fr.series.updates(series_name,params=params)
gdp_series_updates

,frequency,frequency_short,id,last_updated,notes,observation_end,observation_start,popularity,realtime_end,realtime_start,seasonal_adjustment,seasonal_adjustment_short,title,units,units_short
0,Daily,D,GOLDAMGBD230NLBM,2019-09-14 01:31:02,The London Bullion Market Association (LBMA) G...,2019-09-13,1999-01-04,21,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Gold Fixing Price 10:30 A.M. (London time) in ...,Euros per Troy Ounce,Euros per Troy Ounce
1,Daily,D,GOLDPMGBD229NLBM,2019-09-14 01:31:02,The London Bullion Market Association (LBMA) G...,2019-09-13,1968-04-01,15,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Gold Fixing Price 3:00 P.M. (London time) in L...,British Pounds per Troy Ounce,British Pounds per Troy Ounce
2,Daily,D,GOLDAMGBD229NLBM,2019-09-14 01:31:02,The London Bullion Market Association (LBMA) G...,2019-09-13,1968-04-01,10,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Gold Fixing Price 10:30 A.M. (London time) in ...,British Pounds per Troy Ounce,British Pounds per Troy Ounce
3,Daily,D,GOLDPMGBD228NLBM,2019-09-14 01:31:02,The London Bullion Market Association (LBMA) G...,2019-09-13,1968-04-01,70,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Gold Fixing Price 3:00 P.M. (London time) in L...,U.S. Dollars per Troy Ounce,U.S. $ per Troy Ounce
4,Daily,D,GOLDPMGBD230NLBM,2019-09-14 01:31:02,The London Bullion Market Association (LBMA) G...,2019-09-13,1999-01-04,42,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Gold Fixing Price 3:00 P.M. (London time) in L...,Euros per Troy Ounce,Euros per Troy Ounce
5,Daily,D,GOLDAMGBD228NLBM,2019-09-14 01:31:01,The London Bullion Market Association (LBMA) G...,2019-09-13,1968-04-01,76,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Gold Fixing Price 10:30 A.M. (London time) in ...,U.S. Dollars per Troy Ounce,U.S. $ per Troy Ounce
6,Daily,D,SLVPRJPY,2019-09-14 01:01:03,The LBMA Silver price auction is independently...,2019-09-13,2017-10-02,1,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Silver Fixing Price 12:00 noon (London time) i...,Japanese Yen per Troy Ounce,Japanese Yen per Troy Ounce
7,Daily,D,SLVPRTHB,2019-09-14 01:01:03,The LBMA Silver price auction is independently...,2019-09-13,2017-10-02,1,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Silver Fixing Price 12:00 noon (London time) i...,Thailand Bahts per Troy Ounce,Thailand Bahts per Troy Ounce
8,Daily,D,SLVPRCAD,2019-09-14 01:01:03,The LBMA Silver price auction is independently...,2019-09-13,2017-10-02,2,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Silver Fixing Price 12:00 noon (London time) i...,Canadian Dollars per Troy Ounce,Canadian $ per Troy Ounce
9,Daily,D,SLVPRCNY,2019-09-14 01:01:03,The LBMA Silver price auction is independently...,2019-09-13,2017-10-02,1,2019-09-14,2019-09-14,Not Seasonally Adjusted,NSA,Silver Fixing Price 12:00 noon (London time) i...,Chinese Yuans per Troy Ounce,Chinese Yuans per Troy Ounce

### Vintage dates

Get the dates in history when a series’ data values were revised or new data values were released. I assume you could use these dates for the realtime_start and realtime_end parameters for methods that accept dates.

In [39]:
params = {
         'limit':10,
         'sort_order':'desc'
         }

gdp_series_vintage_dates = fr.series.vintage_dates(series_name,params=params)
gdp_series_vintage_dates

            0
0  2019-08-29
1  2019-07-26
2  2019-06-27
3  2019-05-30
4  2019-04-26
5  2019-03-28
6  2019-02-28
7  2018-12-21
8  2018-11-28
9  2018-10-26

## Category - Not sure why we care about this if we already know about series?

In [18]:
gdp_cat = fr.category.details(cat_id) #Details about category 106 (GDP). It seems like categories can only be accessed using numeric id
gdp_cat

In [25]:
gdp_child = fr.category.children(cat_id)
gdp_child

      id           name  parent_id
0  33020  Shares of GDP        106

#### Get information about series associated with a category

In [ ]:
params = {
         'limit':5,
         #'tag_names':'trade;goods',
         'order_by':'popularity',
         'sort_order':'desc'
         }

res = fr.category.series(series_id,params=params)
res