# Import Composite and Leading Indicator OECD Data using pandasmdx library

http://www.bondeconomics.com/2018/05/loading-oecd-data-with-python.html <-- This page is the most helpful
https://www.oecd-ilibrary.org/economics
https://pandasdmx.readthedocs.io/en/stable/usage.html#basic-usage

### Connecting to an SDMX web service, caching

First, we instantiate pandasdmx.api.Request. The constructor accepts an optional agency ID as string. The list of supported agencies can be viewed here, or as shown below.

In [2]:
from pandasdmx import Request

#### Note: you can view the available agencies with 'Request.list_agencies()'

In [40]:
oecd = Request('OECD')
data_response = oecd.data(resource_id='MEI_CLI', key='all?startTime=2018') #You can glean the resource id from the url of the page where the data zip is downloaded
df = data_response.write(data_response.data.series, parse_time=False)
#df.to_csv('c:\\Temp\\test_lei.txt', sep='\t')

In [41]:
df.head()

SUBJECT   LORSGPOR_IXOBSA                                        ...     \
LOCATION              IDN     DEU GRC HUN IRL ITA JPN KOR LUX    ...
FREQUENCY               A   Q   Q   Q   Q   Q   Q   Q   Q   Q    ...
2018             116.0623 NaN NaN NaN NaN NaN NaN NaN NaN NaN    ...
2018-01               NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    ...
2018-02               NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    ...
2018-03               NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    ...
2018-04               NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    ...

SUBJECT    LORSGPNO                                                    \
LOCATION      NAFTA      OECD     OECDE      EA19       BEL       CAN
FREQUENCY         M         M         M         M         M         M
2018            NaN       NaN       NaN       NaN       NaN       NaN
2018-01    100.1012  100.3628  100.6570  100.7611  100.3686  100.2609
2018-02    100.1378  100.3648  100.6307  100.7300  100.3535  100.2635
2018-03    100.1726  100.3587  100.5888  100.6840  100.3287  100.2796
2018-04    100.2038  100.3430  100.5322  100.6245  100.2977  100.3033

SUBJECT
LOCATION        CZE       DNK       FIN       FRA
FREQUENCY         M         M         M         M
2018            NaN       NaN       NaN       NaN
2018-01    100.6185  99.78181  100.7935  100.8777
2018-02    100.5410  99.85652  100.7767  100.8229
2018-03    100.4665  99.92046  100.7372  100.7499
2018-04    100.3952  99.96793  100.6793  100.6697

[5 rows x 514 columns]

In [39]:
help(oecd.data.args)

Help on tuple object:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

### Example 2: Read data from local fileÂ¶